body{
  background-color: yellow;
}

main,header{
  background: white;
}

header{
  float:right;
}

footer{
  clear:both;
  background: yellow;
}

.address{
  float:left;
}

.sitemap{
  float:right;
}
